@model ATSCADAWebApp.Web.Models.IndexView

@{
    Layout = null;
}

<!DOCTYPE html>
@{
    var mode = Model.Info.DarkMode ? "dark-mode" : "";
}
<html lang="en" class=@mode }>
<head>
    <meta charset="utf-8" />
    <title>@Model.Info.Title</title>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
    <meta content="@Model.Info.Description" name="description" />
    <meta content="@Model.Info.Author" name="author" />
    <link rel="shortcut icon" href="~/favicon.ico">


    <link href="~/AppTemplate/css/material/icon/material-icons.css" rel="stylesheet" />
    <link href="~/AppTemplate/css/vendor.min.css" rel="stylesheet" />
    <link href="~/AppTemplate/css/material/app.min.css" rel="stylesheet" />
    <script src="~/AppTemplate/js/gauge.js"></script>
    <link href="~/AppTemplate/plugins/videojs/video-js.css" rel="stylesheet" />

</head>
<body class="pace-done">
    haloo
    @{
        // Lay dai chi URL cua project hien tai
        // Lay dung link voi cac trong hop: IP, Domain, NAT-PORT
        var request = HttpContext.Current.Request;
        var url = string.Format("{0}://{1}:{2}{3}",
            request.Url.Scheme,
            request.Url.Host,
            request.Url.Port,
            request.ApplicationPath);
        // Khai bao singlePage App
        <atscada-app at-user-name="@Model.Session.UserName"
                     at-brand="@Model.Info.Brand"
                     at-authentication-required="@Model.AuthenticationRequired.ToString()"
                     at-url="@url">
            @{
                // vong lap, render ra cac View
                foreach (var view in Model.Pages)
                {
                    <atscada-app-view at-content="@view.Content" at-location="@view.Location" at-icon="@view.Icon"></atscada-app-view>
                }
            }
        </atscada-app>
    }

    <script type="module" src="~/AppScripts/App/atscada-app-element.js"></script>
    <script type="module" src="~/AppScripts/Core/Component/Task/atscada-task-element.js"></script>
    <script type="module" src="~/AppScripts/Core/Component/Redirect/atscada-redirect-element.js"></script>
    <script type="module" src="~/AppScripts/Component/Card/atscada-card-element.js"></script>
    <script type="module" src="~/AppScripts/Component/ChartDemo/atscada-chartdemo-element.js"></script>
    <script type="module" src="~/AppScripts/Component/SVG/atscada-svg-element.js"></script>
    <script type="module" src="~/AppScripts/Component/SVG/atscada-svgvalue-item-element.js"></script>
    <script type="module" src="~/AppScripts/Component/Gauge/atscada-gauge-element.js"></script>
    <script type="module" src="~/AppScripts/Component/SVG/atscada-svgalarm-item-element.js"></script>
    <script type="module" src="~/AppScripts/Component/SVG/atscada-svgcutaway-item-element.js"></script>
    <script type="module" src="~/AppScripts/Component/SVG/atscada-svghyperlink-item-element.js"></script>
    <script type="module" src="~/AppScripts/Component/SVG/atscada-svgcontrolvalue-item-element.js"></script>
    <script type="module" src="~/AppScripts/Component/Chart/atscada-chart-element.js"></script>
    <script type="module" src="~/AppScripts/Component/AlarmViewer/atscada-alarm-viewer-element.js"></script>
    <script type="module" src="~/AppScripts/Component/Slider/atscada-slider-element.js"></script>
    <script type="module" src="~/AppScripts/Component/Input/atscada-input-element.js"></script>
    <script type="module" src="~/AppScripts/Component/Switch/atscada-switch-element.js"></script>
    <script type="module" src="~/AppScripts/Component/AlarmReporter/atscada-alarm-reporter-element.js"></script>
    <script type="module" src="~/AppScripts/Component/DataReporter/atscada-data-reporter-element.js"></script>
    <script type="module" src="~/AppScripts/Component/DataReporter/atscada-data-reporter-item-element.js"></script>
    <script type="module" src="~/AppScripts/Component/GoogleMap/atscada-google-map-element.js"></script>
    <script type="module" src="~/AppScripts/Component/PIDStation/atscada-pid-element.js"></script>
    <script type="module" src="~/AppScripts/Component/MixerStation/atscada-mixer-element.js"></script>

    <script src="~/AppTemplate/plugins/videojs/video.min.js"></script>
    <script src="~/AppTemplate/plugins/videojs/videojs-http-streaming.min.js"></script>
    <script type="module" src="~/AppScripts/Component/StreamCamera/atscada-stream-camera-element.js"></script>

</body>
</html>